
<!DOCTYPE html>

{% load staticfiles %} <!-- New line -->

<html>
    <head>
        <title>Rango - About</title>
    </head>
    
    <body>
        <h1>This tutorial has been put together by</h1>
        
        <div>
            Neil Wood! <br />
            <strong>{{ boldmessage }}</strong><br />
        </div>
        
        <div>
            <a href="/rango/">Go Home</a><br />
            <img src="{% static "images/castle.jpg" %}"
                 alt="Picture of castle" /> <!-- New line -->
        </div>
    </body>
    
</html>

